<table>
  <thead>
  <tr>
    <th></th>
    <th>average</th>
  </tr>
  </thead>
  <tbody>
    <% stats.each do |stat| %>
    <tr>
      <td>
        <%= stat.name %>
      </td>
      <td>
        <%= stat.average_rating %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>